<div class="container">
  <div class="row">
    <h1 class="text-center">Associations & organisations</h1>
  </div>
  <div class="row">
      <% @associations.each do |association| %>
        <div class="col-xs-12 col-sm-9 col-md-3">
          <%= link_to association_path(association) do %>
            <div class="associations-cards">
              <h2><%= association.name %></h2>
            </div>
          <% end %>
        </div>
      <% end %>
  </div>
</div>
